<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form class="form" method="post" action="http://127.0.0.1:5000/login">
        <label>*Name</label>
        <input type="text" name="name">
        <label>*Password</label>
        <input type="password" name="password">
        <label>*Email</label>
        <input type="email" name="email">
        <button>Submit</button>
    </form>
</body>
<script>
    
</script>
</html>